.container {
  display: flex;
  width: 100dvw;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 5rem;
  position: fixed;
  z-index: 100;
  transition: all 0.3s ease;
}

.container.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 0.75rem 5rem;
}

.container a {
  text-decoration: none;
}

.container h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  /* font-style: italic; */
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }
  .container.scrolled {
    padding: 0.75rem 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem 1.5rem;
  }
  .container.scrolled {
    padding: 0.75rem 1.5rem;
  }
}
